{% extends "onlinejudge/base.html" %}
{% block login_status %}
{% endblock %}
{% block body %}
<form action="{% url 'login' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
        <label>{{ field.label }}</label><br>
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
        {{ field }}<br>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" /><br>
    <input class="button small" type="submit" value="Submit"/>
</form>
<p>Don't have an account <a href="{% url 'signup' %}">sign up</a></p>
</body>
{% endblock %}