{% extends "onlinejudge/base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<script src="{% static 'codemirror/mode/python/python.js' %}"></script>
{% endblock %}
{% block title %}{{ question.title }}{% endblock %}

{% block body %}
<h3>{{ question.title }}</h3>
<div>
{{ question.description }}
</div><br>
{% for case in question.sample_cases %}
<div style="padding: 8px 0 12px 0;">
<b>Input #{{ forloop.counter }}</b>
<pre class="sample">{{ case.stdin }}</pre>
<b>Output #{{ forloop.counter }}</b>
<pre class="sample">{{ case.stdout }}</pre>
</div>
{% endfor %}<br>
<strong>Answer: </strong>
<form action={% url 'submit' question.slug %} method=post style="margin-top: 0.5em;">
    {% csrf_token %}
    <textarea id="editor" name="source" rows="18" cols="64"></textarea>
    <br>
    <div class="text-right">
        <input type="submit" class="btn btn-bd-blue" onclickvalue="Submit">
    </div>
</form>
<script>
        var myCodeMirror = CodeMirror.fromTextArea(
            document.getElementById("editor"), {
                indentUnit: 4,
                extraKeys: {
                    "Tab": function(cm){
                        cm.replaceSelection("    " , "end");
                    }
                }
        });
</script>
{% endblock %}