{% extends "onlinejudge/base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<script src="{% static 'codemirror/mode/python/python.js' %}"></script>
{% endblock %}
{% block title %}{{ question.title }}{% endblock %}

{% block body %}
<h2>{{ question.title }}</h2>
<l style="color:#919ca7;">Kesulitan: {{ question.difficulty_str }} ({{ question.difficulty }} poin)</l><br>
<nav class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-soal-tab" data-toggle="tab" href="#soal" role="tab" aria-controls="nav-home" aria-expanded="true">Soal</a>
        <a class="nav-item nav-link" id="nav-submissions-tab" data-toggle="tab" href="#submissions" role="tab" aria-controls="nav-profile">Submissions</a>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane show active" id="soal" role="tabpanel" aria-labelledby="nav-soal-tab">
            {% include "onlinejudge/soal.html" %}
        </div>
        <div class="tab-pane" id="submissions" role="tabpanel" aria-labelledby="nav-submissions-tab">
            {% include "onlinejudge/submissions.html" %}
        </div>
      </div>     

{% endblock %}