{% extends "onlinejudge/base.html" %}

{% block title %}Scoreboard{% endblock %}
{% block body %}
<h2>Scoreboard</h2>
<br>
<table class="table table-striped">
<thead class="thead-inverse">
        <tr>
            <td width="10px"><b>#</b>
            </td>
            <td><b>User</b>
            </td>
            <td><b>Score</b>
            </td>
        </tr>
</thead>
<tbody>
{% for user, score in leaderboard %}
<tr>
<td>{{forloop.counter}}</td>
<td>
<a href="{% url 'profile' user.username %}">{{user.username}}</a>
</td>
<td>
{{score}}
</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}