{% extends "onlinejudge/base.html" %}

{% block title %}Scoreboard{% endblock %}
{% block body %}
<h2>Scoreboard</h2>
<br>
<table class="table table-striped">
<thead class="thead-inverse">
        <tr>
            <td width="10px">#
            </td>
            <td>User
            </td>
            <td>Score
            </td>
        </tr>
</thead>
<tbody>
{% for username, score in leaderboard %}
<tr>
<td>{{forloop.counter}}</td>
<td>
<a href="{% url 'profile' username %}">{{username}}</a>
</td>
<td>
{{score}}
</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}