{% extends "onlinejudge/base.html" %}
{% block title %}@{{ account.username }}{% endblock %}
{% block body %}
<h2>{{ account.first_name }} {{ account.last_name }}</h2>
<p>@{{ account.username }}</p><br>

<table class="table table-striped">
<thead class="thead-inverse">
        <tr>
            <td>Question
            </td>
            <td>Solve Date
            </td>
            <td>Score
            </td>
        </tr>
</thead>
<tbody>
{% for solve in solves %}
<tr>
<td><a href="{{ solve.question.get_absolute_url }}">{{ solve.question.title }}</a> </td>
<td>
{{ solve.attempt_date }}
</td>
<td>
{{solve.question.difficulty}}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}