<div style="margin-bottom: 0.75em;">
    <div class="description" id="description">{{ question.description|safe }}</div>
    {% for case in question.sample_cases %}
    <div class="case">
    Input #{{ forloop.counter }}
    <pre class="sample">{{ case.stdin }}</pre>
    Output #{{ forloop.counter }}
    <pre class="sample">{{ case.stdout }}</pre>
    </div>
    {% endfor %}
</div>
Answer:
<form action={% url 'submit' question.slug %} method=post style="margin-top: 0.5em;">
    {% csrf_token %}
    <textarea id="editor" name="source" rows="18" cols="64"></textarea>
    <div style="margin-top: 0.75em;" class="text-right">
        <input type="submit" class="btn btn-bd-blue" onclickvalue="Submit">
    </div>
</form>
<style>
    .CodeMirror pre {
        font-family: 'Inconsolata', monospace;
        font-size: 0.9em;
        line-height: 1.5;
    }
</style>
<script>
    desc = document.getElementById("description");
    desc.innerHTML = markdown.toHTML(desc.textContent);
    
    var myCodeMirror = CodeMirror.fromTextArea(
        document.getElementById("editor"), {
            indentUnit: 4,
            extraKeys: {
                "Tab": function(cm){
                    cm.replaceSelection("    " , "end");
                }   
            }
        });
    myCodeMirror.setValue("{{template|safe}}");
</script>