<a href="" data-toggle="modal" data-target="#{{submission.id}}">
        view
</a>
<div class="modal fade" id="{{submission.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{submission.status_str}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <pre class="source">{{submission.source}}</pre>
  <div style="padding-top: 0;"class="modal-body">
  {{submission.attempt_date}}
    </div>
  </div>
  </div>
</div>
