{% if submissions %}
<style>
        .table thead td {
            border-top-color: transparent !important;
            padding-top: 0em;
        }
</style>
<table class="table table-striped">
<thead class="thead-inverse">
        <tr>
            <td>Verdict
            </td>
            <td>Attempt Date
            </td>
            <td>Source
            </td>
        </tr>
</thead>
<tbody>
{% for submission in submissions %}
<tr>
<td>
{{submission.status_str}}
</td>
<td>{{submission.attempt_date}}</td>
<td>
<a href="#">{% include "onlinejudge/source.html" %}</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
Kamu belum submit apa-apa :(
{% endif %}