li {
    margin: 0.75em 0;
}

.content {
margin: 0 auto;
max-width: 48em;
margin-top: 3em;
padding: 1% 2em 8em 1.5em;
font-weight: 200;
line-height: 1.5;
letter-spacing: .01em;
}

.navbar-brand{
    font-weight: medium;
    color:  #007bff !important;
}

.sample{
    background:#eff2f5; 
    padding:8px; 
    margin: 8px 0 12px 0;
}

.btn-bd-blue {
    font-weight: 500;
    color: #007bff;
    border-color: #007bff;
    background-color: white;
}

.btn-bd-blue:active, .btn-bd-blue:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}