.description p{
    line-height: 1.58;
    font-family: 'Georgia', serif;
}

li {
    margin: 0.75em 0;
}

.content {
margin: 0 auto;
max-width: 38.75rem;
margin-top: 2.5em;
padding: 0.5% 1em 4em 1em;
font-weight: 400;
line-height: 1.5;
letter-spacing: .01em;
min-height: 76%;
}

.navbar-brand{
    color:  #fff !important;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.navbar{
    padding: 0 1em;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.75);
}

.nav-tabs {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}

.nav-tabs .tab-content {
    padding: 0 0.5em !important;    
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #3F3F44 !important;
    background-color: #fcfcfc;
    border-color: #ddd #ddd #fcfcfc
    
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #3F3F44 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link.active:hover {
    border-color: #ddd #ddd #fcfcfc;
    cursor: default;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #919ca7 !important;
}

.sample{
    background:#eff2f5; 
    padding: 0.5em; 
    margin: 0.5em 0;
    font-family: 'Inconsolata', monospace;
}

.case {padding-bottom: 0.5em;}

.btn-bd-blue {
    font-weight: 500;
    color: #408FEC;
    border-color: #408FEC;
    background-color: white;
}

.btn-bd-blue:active, .btn-bd-blue:hover {
    color: #fff;
    background-color: #408FEC;
    border-color: #408FEC;
    cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table thead {
    font-weight: 600;
}

body {
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3F3F44;
    background-color: #fcfcfc;
    font-size: 1rem;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

footer {
    border-top: 1px solid #eff2f5;
    height: 50px;
    background-color: white;
    margin-bottom: 0px;
    padding: 1.25em;
    padding-bottom: 3em;
}

.modal .modal-dialog {
    max-width: 38rem;
    margin-top: 6em;
}

.source {
    background: #eff2f5;
    padding: 12px 16px;
    margin: 0px 0 12px 0;
    font-family: 'Inconsolata', monospace;
}

.bg-blue {
    background-color: #408FEC;
}

.navbar-btn{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
    transition: all .1s ease-in-out;
    border-radius: 1.5em;
    padding: 0.5em 2em;
}

.navbar-btn:hover{
    transform: scale(1.05);
    color: #408FEC;
    border-color: #408FEC;
    background-color: white;
}

a {
    color: #408FEC
}

pre {
    color: #3F3F44;
}

.dropdown-toggle {
    color: #fff;
}

.dropdown-toggle:hover{
    color: #fff;
}

.nav-item {
    margin: 0.5em 0;
}

.solved {
    fill: #4acc81
}

.unsolved {
    fill: #d5e2ec
}

.week {
    transition: all .2s ease-in-out;
    max-width: 24em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, .04);
}

.week:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.completed {
    color: #4acc81;
    margin-top: 1px;
    display: inline-block;    
}

a.div-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.card-text {
    margin-top:-0.5em; 
    margin-bottom:1.25em;
}

.user-progress {
    display:inline-block; 
    margin-left:2px;
}

.category-body {
    margin:2em 0 1.5em 0;
}

.category-title{
    margin-bottom: 0.125em;
}

.category-items {
    margin-top: 0.5em;
    list-style-type: none;
    padding: 0;
    margin-left: 1px;
}

.description {
    margin-bottom: 1.25em;
}