li {
    margin: 0.75em 0;
}

.content {
margin: 0 auto;
max-width: 40em;
margin-top: 2.5em;
padding: 0.5% 2em 4em 1.5em;
font-weight: 400;
line-height: 1.5;
letter-spacing: .01em;
}

.navbar-brand{
    font-weight: medium;
    color:  #007bff !important;
    margin-top: -1px;
}

.navbar{
    padding: 0 1em;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #172f44;
}

.sample{
    background:#eff2f5; 
    padding: 8px; 
    margin: 8px 0 12px 0;
    font-family: 'Inconsolata', monospace;
}

.btn-bd-blue {
    font-weight: 500;
    color: #007bff;
    border-color: #007bff;
    background-color: white;
}

.btn-bd-blue:active, .btn-bd-blue:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table thead {
    font-weight: 600;
}

.table {
    font-size: 1.05rem;
}

body {
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #172f44;
    font-size: 1.05rem;
}

.description{
    font-size: 0.98rem;
    font-family: 'Georgia', serif;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

.content {
    min-height: 75%;
}

footer {
    border-top: 1px solid #eff2f5;
    height: 50px;
    background-color: white;
    margin-bottom: 0px;
    padding: 1.25em;
    padding-bottom: 3em;
}